[settings]

InfluxDBHost = 127.0.0.1
InfluxDBPort = 8086
InfluxDBUser = user
InfluxDBPass = pass
InfluxDBDatabase = db


BlynkUrl    = http://127.0.0.1
BlynkPort   = 8080
BlynkToken  = token_hash
